<div class="jumbotron container mt-3 d-flex align-content-center">
    <ul class="list-group">
        <li class="list-group-item">Nombre: {{userData.name}}</li>
        <li class="list-group-item">Email {{userData.email}}</li>
        <li class="list-group-item">Telefono {{userData.telephone}}</li>
        <li class="list-group-item">Direccion {{userData.adress}}</li>
        <li class="list-group-item">Edad {{userData.age}}</li>
    </ul>
</div>